* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.cartas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid white 5px;
}

.carta {
    width: 120px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    font-weight: bold;
    position: relative;
}

.carta::before {
    content: "";
    width: 70%;
    height: 50%;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carta .valor {
    position: absolute;
    font-size: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
